/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:white;
  background:wheat;
  background-image: url(/images/new.jpg);
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;
  
 
}


#masthead {
  min-height:199px;
  background-image: url(/images/new.jpg);
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:transparent;
  border-color:transparent;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}
form
{
    width:500px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.7);
	padding:50px;
    overflow: hidden;
}
input
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid white;
	outline:none;
	background: transparent;
}

.navbar.affix {
  position:absolute;
  top:0;
  width:100%;
  
}

.top-spacer {
  background-color:transparent;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:transparent;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;

}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:white;
  font-size:15px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:crimson;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}
input{
  color: white;
}
button{
  color: black;
}
button
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: crimson;
	border: 0;
	outline: none;
	border-radius: 30px;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
  background:rgba(0,0,0,0.7);
  z-index: 3;
  opacity:.9;
  width: 80%;
  
}
.text-muted{
  color: white;
}

.thumbnail {
  margin-bottom:8px;
  border: transparent;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}
hr{
  border:none;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 5;
  width:100%;
  opacity:.9;
  padding:6px;
  color:rgb(119, 49, 49);
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}
